.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  min-width: 132px;
  padding: 11px 26px;

  color: $white-text-color;
  background-color: $accent-color;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}
