.logo {
  padding-left: 32px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #03406a;

  background-image: url(../../images/math.svg);
  background-repeat: no-repeat;
}
